@page "/"

<div class="hanoi">
    <div class="tower">
        <div @ref="Disk_3" class="disk disk-3"></div>
        <div @ref="Disk_2" class="disk disk-2"></div>
        <div @ref="Disk_1" class="disk disk-1"></div>
    </div>
    <div class="tower"></div>
    <div class="tower"></div>
</div>

<p style="color: white;">@String.Join(", ", game.moves)</p>

@code {
    ElementReference Disk_1;
    ElementReference Disk_2;
    ElementReference Disk_3;

    Game game = new Game();
}